@model IEnumerable<UDS_CONSULTING_MVC_project.Models.Data>

@{
    ViewBag.Title = "GetData";
}


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>

<div class="container">
    <div class="text-primary well">
        <h1>@ViewBag.LoggedUserName</h1>
    </div>
    <table class="table well">
        <thead>
            <tr>
                <th>name</th>
                <th>company</th>
                <th>email</th>
                <th>phone</th>
                <th>tags</th>
            </tr>
        </thead>
        <tbody>
            @foreach (UDS_CONSULTING_MVC_project.Models.Data people in Model)
            {
                <tr class="info">
                    <td>@Html.ActionLink(@people.name, "SeeSingleData", "Home", new { str = @people.name.ToString() }, null)</td>
                    <td>@people.company</td>
                    <td>@people.email</td>
                    <td>@people.phone</td>
                    <td>
                            @foreach (var item in people.tags)
                            {
                                <a href="/Home/OrderByKey/@item">@item</a>
                            }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
